<div class="bg-custom">
  <nav class="navbar navbar-light bg-nav">
      <div class="mx-auto nav-custom">
        <a [routerLink]="['/']" class="navbar-brand">
          <h2>
            <i class="bi bi-door-open"></i>
            Autenticacao
          </h2>
        </a>
      </div>
      <div class="navbar-brand">
        <button  
        class="btn btn-danger btn-custom" 
        (click)="sair()"
        *ngIf="autenticado()">
        <i class="bi bi-box-arrow-right"></i>
          Sair
        </button>
      </div>
    </nav>
    <br>

    <router-outlet></router-outlet>
</div>
