<div class="table-responsive-lg">
  <p>Data e Hora: {{ dataHoraAtual }}</p>
  <p>
    &nbsp;
    <button class="btn btn-info" (click)="atualizarDataHora()">
    <i class="bi bi-clock-history"> Refresh</i>
  </button>
</p>  
  <p>Data em tempo real: {{ dataTempoReal }}</p>
  
  <table id="minha-tabela" class="table table-custom">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Hora</th>
            <th scope="col">Tipo</th>
            <th scope="col">Localização</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lancamento of lancamentos">
            <th scope="row">{{lancamento.id}}</th>
            <td>{{lancamento.data | data | date:"dd/MM/yyyy"}}</td>
            <td>{{lancamento.data | hora}}</td>
            <td>{{lancamento.tipo | tipo}}</td>
            <td>
              <a [href]="urlLocalizacao(lancamento.localizacao)"
                  target="_blank">
                  {{lancamento.localizacao}}
              </a>
            </td>
          </tr>
        </tbody>
    </table>
    <p>
      &nbsp;
      <button class="btn btn-success" (click)="downloadCSV()">
        <i class="fas fa-file-csv fa-1x"> CSV</i>
      </button>
      &nbsp;
      <button 
      type="button"
      data-toggle="tooltip" data-placement="top" title="Tooltip na parte superior"
      class="btn btn-primary" (click)="downloadPDF()">
        <i class="fas fa-file-pdf fa-1x"> PDF</i>
      </button>
    </p>
</div>

